html,
body {
    margin: 0;
    overflow-x: hidden;
    font-family: "FuturaBook";
    font-size: 14px;
}

* {
    margin: 0;
    padding: 0;
    outline: none !important;
}

a {
    color: inherit !important;
    text-decoration: none !important;
}

a.a-hover:hover {
    color: #23a7af !important;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

p {
    margin: 0;
    padding: 0;
}

h1,
h1,
h3,
h4,
h5,
h6 {
    margin: 0;
}

img {
    width: 100%;
    height: 100%;
}

b {
    font-family: "FuturaBold";
}


/*
|--------------------------------------------------------------------------
| Home
|--------------------------------------------------------------------------
*/

.language-select {
    background: none;
    border: none;
}

select.language-select {
    background-image: url(../images/arrow-down.svg);
    background-repeat: no-repeat !important;
    background-position-x: 100% !important;
    background-position-y: 50% !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;
    padding-right: 20px;
}

select.language-select::-ms-expand {
    display: none;
}

.header-row-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    z-index: 999;
    background-color: #efefef;
    border: 1px solid #efefef;
}

.header-row {
    position: fixed;
    top: 40px;
    left: 0;
    width: 100%;
    height: 120px;
    background-color: white;
    z-index: 999;
}

.dark-blue-button {
    color: white;
    border: none;
    background-color: #034992;
    padding: 10px 45px;
    display: inline-block !important;
}

.white-button {
    color: #034992;
    background-color: white;
    border: 1px solid #034992;
    padding: 10px 25px;
}

.blue-button {
    color: white;
    border: none;
    background-color: #62cbf2;
    padding: 10px 45px;
}

.second-blue-button {
    color: white;
    border: none;
    background-color: #3996f3;
    padding: 10px 45px;
}

.slider-object {
    position: relative;
    color: white;
    text-align: center;
}

.padding-10 {
    padding: 10%;
}

.slider-image-small {
    width: 100%;
    height: auto;
}

.slider-clients-container .slick-track {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-images-container .slider-image {
    width: 100%;
    height: 100vh;
}

.slick,
.slick-wrapper {
    width: 100%;
}

.slick-slider {
    display: flex;
    justify-content: center;
}

.slick-dots li {
    width: auto;
    height: auto;
}

.slider-images-container .slick-dots li {
    padding: 0 10px 0 0;
}

.slider-images-container .slick-dots {
    bottom: 100px;
    left: 0;
    color: #e2e1e19d;
    z-index: 4;
    width: auto;
    transform: rotate(90deg);
    /* Legacy vendor prefixes that you probably don't need... */
    /* Safari */
    -webkit-transform: rotate(90deg);
    /* Firefox */
    -moz-transform: rotate(90deg);
    /* IE */
    -ms-transform: rotate(90deg);
    /* Opera */
    -o-transform: rotate(90deg);
    /* Internet Explorer */
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.slider-images-container .slick-dots li:not(:last-child) {
    border-right: 1px solid #e2e1e19d;
}

.slider-images-container .slick-dots li.slick-active:not(:last-child) {
    border-right: 1px solid white;
}

.slider-images-container .slick-dots .slick-active {
    color: white;
    font-family: "FuturaBold";
}

.slick-dots-title {
    padding: 0 20px;
    font-size: 16px;
    text-transform: uppercase;
}

.slick-dotted.slick-slider {
    margin: 0;
}

.right-arrow {
    position: absolute;
    top: 83%;
    left: 20%;
    width: 56px;
    height: 56px;
    /*background-image: url(../images/left-arrow.png);*/
    cursor: pointer;
    z-index: 5;
}

.left-arrow {
    position: absolute;
    top: 83%;
    right: 20%;
    width: 56px;
    height: 56px;
    /*background-image: url(../images/right-arrow.png);*/
    cursor: pointer;
    z-index: 5;
}

.arrow-circle-bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
}

.option-box-title {
    display: table-cell;
    vertical-align: middle;
    padding: 30px 0;
}

.home-options {
    margin-top: -60px;
}

.social-media {
    position: absolute;
    display: inline-flex;
    top: 78%;
    left: -6%;
    width: auto;
    height: auto;
}

.line {
    width: 56px;
    margin: 10px;
    height: 1px;
}

.blue-box {
    position: fixed;
    display: inline-flex;
    top: 50%;
    right: -50px;
    background-color: #62cbf2;
    padding: 15px 20px;
    z-index: 999;
}

.whatsapp-box {
    position: fixed;
    bottom: 60px;
    right: 0;
    background-color: #40c250;
    padding: 3px 7px;
    z-index: 999;
}

.primary-button {
    background-color: #1992d6;
    color: white;
    line-height: 1;
    font-size: 13px;
    padding: 15px;
    border: 1px solid #0092d6;
}

.banner-background {
    color: black;
    background-position: 50% 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-container {
    padding-top: 160px;
    width: 100%;
    height: 600px;
}

.padding-top {
    padding-top: 160px !important;
}

.h-500 {
    height: 500px;
}

.h-345 {
    height: 345px;
}

.min-height-160 {
    min-height: 160px;
}

.min-height-200 {
    min-height: 200px;
}

.min-height-240 {
    min-height: 240px;
}

.min-height-250 {
    min-height: 250px;
}

.min-height-280 {
    min-height: 280px;
}

.min-height-300 {
    min-height: 300px;
}

.min-height-320 {
    min-height: 320px;
}

.min-height-350 {
    min-height: 350px;
}

.min-height-370 {
    min-height: 370px;
}

.min-height-auto {
    min-height: auto;
}

.min-height-520 {
    min-height: 520px;
}

.min-height-215 {
    min-height: 215px;
}

.max-height-250 {
    max-height: 250px;
}

.max-height-300 {
    max-height: 300px;
}

.max-width-200 {
    width: 200px;
}

.absolute-bottom {
    position: absolute;
    bottom: 70px;
    left: 20%;
}

.to-bottom {
    position: absolute;
    bottom: 55px;
}

.to-bottom-0 {
    position: absolute;
    bottom: 0;
}

.to-bottom-20 {
    position: absolute;
    bottom: 20px;
}

.to-right-0 {
    position: absolute;
    right: 0;
}

.background-contain {
    background-size: contain;
}

.background-blue {
    background-color: #034992;
}

.background-lightgrey {
    background-color: #f8f8f8;
}

.background-shadow-lightgrey {
    background-image: linear-gradientto(to right, #f8f8f8, white);
}

.dashed-border {
    border: 2px dashed lightgray;
    border-radius: 10px;
}

.line-height-2 {
    line-height: 2;
}


/*
|--------------------------------------------------------------------------
| End Home
|--------------------------------------------------------------------------
*/


/*
|--------------------------------------------------------------------------
| Solutions
|--------------------------------------------------------------------------
*/

.blue-border-bottom {
    border-bottom: 2px solid #034992;
    width: 100%;
    position: absolute;
    left: 0;
    margin-top: -5px;
}

.option-title {
    color: #646464;
}

.option-title>h5 {
    padding: 10px 50px;
}

.option-title .active {
    background-color: #034992;
    color: white;
}

#solutions-business .option-title .active {
    background-color: #62cbf2;
    color: white;
}

.arrow-circle-bottom-right-solutions {
    position: absolute;
    bottom: 33px;
    right: 33px;
}

.slider-images-solutions-container .slick-dots li button:before,
.slider-images-item-container .slick-dots li button:before,
.slider-objects-container .slick-dots li button:before {
    font-size: 7px;
    line-height: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 8px;
    height: 8px;
    border: 1px solid black;
    content: "•";
    text-align: center;
    /* opacity: .25; */
    border-radius: 15px;
    color: white;
}

.slider-images-solutions-container .slick-dots li.slick-active button:before,
.slider-images-item-container .slick-dots li.slick-active button:before,
.slider-objects-container .slick-dots li.slick-active button:before {
    color: black;
    font-size: 8px;
}

.slick-dots li.slick-active button:before {
    opacity: 0.75;
}

.slider-images-solutions-container .slick-dots li button,
.slider-images-item-container .slick-dots li button {
    width: 8px;
    height: 8px;
}


/*
.slider-images-item-container .slick-dots {
    right: 22%;
} */


/*
|--------------------------------------------------------------------------
| End Solutions
|--------------------------------------------------------------------------
*/


/*
|--------------------------------------------------------------------------
| About us
|--------------------------------------------------------------------------
*/

.year-popup {
    background-color: rgba(255, 255, 255, 0.5);
    width: 450px;
    height: auto;
    border-radius: 15px;
}

.year-popup.text-right>h5 {
    padding-left: 40%;
}

.year-popup.text-left>h5 {
    padding-right: 40%;
}

.milestones-image {
    position: absolute;
    left: 46.5%;
}

.milestones-image img {
    height: 500px;
    width: 40px;
}

.float-child {
    width: 50%;
    float: left;
}

.horizontal-image {
    position: absolute;
    width: 100%;
    left: 0;
}

.about-list li::before {
    content: "•";
    color: #034992;
    border-radius: 1ch;
    padding-right: 10px;
    font-size: 25px;
    height: 5px;
}

.about-list li {
    line-height: 13px;
    font-size: 13px;
}


/* #aropeHRdepartment>ul {
    -moz-column-count: 6;
    -moz-column-gap: 20px;
    -webkit-column-count: 6;
    -webkit-column-gap: 20px;
    column-count: 6;
    column-gap: 20px;
} */

#aropeHRdepartment .about-list li {
    line-height: 16px;
    font-size: 16px;
}

#aropeHRdepartment .about-list li::before {
    content: "•";
    color: #034992;
    border-radius: 1ch;
    padding-right: 13px;
    height: 5px;
}

.about-list li>span {
    vertical-align: top;
}

.first-word::first-word {
    color: #034992;
}


/*
|--------------------------------------------------------------------------
| End About us
|--------------------------------------------------------------------------
*/


/*
|--------------------------------------------------------------------------
| Careers
|--------------------------------------------------------------------------
*/

.pointer {
    width: 200px;
    height: 60px;
    position: relative;
    background: white;
    box-shadow: 20px 3px 20px 0px #f2f3f7;
}

.pointer>p {
    color: #034992;
}

.pointer:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 30px solid white;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
}

.pointer:before {
    content: "";
    position: absolute;
    right: -30px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 30px solid white;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
}

.pointer.active {
    color: white;
    background: #034992;
}

.pointer.active>p {
    color: white;
}

.pointer.active:after {
    border-left: 30px solid #034992;
    color: white;
}

.pointer.active:before {
    border-left: 30px solid #034992;
    color: white;
}

.merge-left {
    margin-left: -40px;
}

.custom-career-width {
    max-width: 200px;
    height: 100px;
}


/*
|--------------------------------------------------------------------------
| end careers
|--------------------------------------------------------------------------
*/


/*
|--------------------------------------------------------------------------
| media
|--------------------------------------------------------------------------
*/

.media-overlay {
    width: 100%;
    height: auto;
    background-image: -webkit-linear-gradient( rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.74));
    background-image: linear-gradient( rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.74));
    position: absolute;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    left: 0;
}

.media-overlay i {
    color: white;
}

.media-overlay:hover {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.media-overlay:hover .team-text {
    transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -webkit-transition: -webkit-transform 500ms;
    transition: -webkit-transform 500ms;
    transition: transform 500ms;
    transition: transform 500ms, -webkit-transform 500ms;
}


/*
|--------------------------------------------------------------------------
| end media
|--------------------------------------------------------------------------
*/


/*
|--------------------------------------------------------------------------
| offers
|--------------------------------------------------------------------------
*/

.offer-box {
    background-color: #034992;
    position: absolute;
    bottom: 10%;
    left: 10%;
    width: 250px;
    height: auto;
}


/*
|--------------------------------------------------------------------------
| end offers
|--------------------------------------------------------------------------
*/


/*
|--------------------------------------------------------------------------
| offers
|--------------------------------------------------------------------------
*/

.contact-map-navigator {
    background-color: white;
    width: 100%;
}


/*
|--------------------------------------------------------------------------
| end offers
|--------------------------------------------------------------------------
*/

#map {
    width: 100%;
    height: 600px;
}

.map-box {
    background-color: white;
    position: absolute;
    top: 10%;
    right: 10%;
    width: 300px;
    height: auto;
}


/*
|--------------------------------------------------------------------------
| Hover
|--------------------------------------------------------------------------
*/

.hvr-grow {
    display: block;
    vertical-align: middle;
    transform: translateZ(0);
    -o-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}


/*
|--------------------------------------------------------------------------
| Common
|--------------------------------------------------------------------------
*/

table {
    border: 1px solid #034992;
}

table td input {
    border: none;
}

.table-buttons>input {
    padding: 4px 10px;
    background-color: white;
    border: 1px solid #034992;
}

.font-large {
    font-size: 20px;
}

.font-xlarge {
    font-size: 3em;
}

.font-10 {
    font-size: 10px;
}

.font-13 {
    font-size: 13px;
}

.font-14 {
    font-size: 14px;
}

.font-16 {
    font-size: 16px;
}

.font-20 {
    font-size: 20px;
}

.font-27 {
    font-size: 27px;
}

.font-bold {
    font-family: "FuturaBold";
}

.font-book {
    font-family: "FuturaBook";
}

.font-light {
    font-family: "FuturaLight";
}

.font-medium {
    font-family: "FuturaMedium";
}

.text-uppercase {
    text-transform: uppercase;
}

.text-italic {
    font-style: italic;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.float-right {
    float: right !important;
}

.float-left {
    float: left !important;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.centered-left {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.centered-bottom {
    left: 50%;
    position: absolute;
    bottom: 0;
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.centered-top {
    left: 50%;
    position: absolute;
    top: 0;
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.margin-auto {
    margin: 0 auto;
}

.no-background {
    background-color: transparent;
}

.background-primary-color {
    background-color: #121921 !important;
}

.bg-black {
    background-color: black;
}

.dim-background {
    background-color: #343a40;
    border: 1px solid #707070;
    color: #a4b2bf;
    font-size: 16px;
}

.image-50 {
    width: 50px;
    height: auto;
}

.height-40 {
    height: 40px;
}

.height-50 {
    height: 50px;
}

.image-width {
    width: 100px;
    height: auto;
}

.logo-width {
    width: 150px;
    height: auto;
}

.header-icon-size {
    width: 18px;
    height: auto;
}

.header-icon-small-size {
    width: 10px;
    height: auto;
}

.search-input {
    background-color: #efefef;
    border: none;
    color: #034992 !important;
    width: 70px;
    min-width: 70px;
    font-size: 13px;
}

.search-input::placeholder {
    color: #034992 !important;
}

.icon-xsmall {
    width: 18px;
    height: auto;
}

.icon-small {
    width: 25px;
    height: auto;
}

.icon-medium {
    width: 40px;
    height: auto;
}

.icon-large {
    width: 100px;
    height: auto;
}

.icon-xlarge {
    width: 120px;
    height: auto;
}

.footer-icon-small {
    width: 20px;
    height: 20px;
}

img.contain {
    object-fit: contain;
}

img.cover {
    object-fit: cover;
}

.rounded-corners {
    border-radius: 15px;
}

.picture-wrapper {
    position: relative;
}

.picture-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
}

.picture-wrapper.padding-top-25 {
    padding-top: 25%;
}

.picture-wrapper.padding-top-30 {
    padding-top: 30%;
}

.picture-wrapper.padding-top-31 {
    padding-top: 31%;
}

.picture-wrapper.padding-top-40 {
    padding-top: 40%;
}

.picture-wrapper.padding-top-55 {
    padding-top: 55%;
}

.picture-wrapper.padding-top-60 {
    padding-top: 60%;
}

.picture-wrapper.padding-top-62 {
    padding-top: 62%;
}

.picture-wrapper.padding-top-65 {
    padding-top: 65%;
}

.picture-wrapper.padding-top-75 {
    padding-top: 75%;
}

.picture-wrapper.padding-top-80 {
    padding-top: 80%;
}

.picture-wrapper.padding-top-90 {
    padding-top: 90%;
}

.picture-wrapper.padding-top-100 {
    padding-top: 100%;
}

.bottom-shadow {
    box-shadow: 0 0px 45px 3px #d3d3d3;
}

.box-shadow {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.05);
}

.shadow-inner-lightgrey {
    box-shadow: inset 0 0 20px #d3d3d3;
}

.shadow-outer-lightgrey {
    box-shadow: 0 0 30px 13px #f2f2f2;
}

.shadow-outer-right-lightgrey {
    box-shadow: 20px 3px 20px 13px #f2f3f7;
}

.background-gradient-grey {
    background-image: linear-gradient(#f2f2f2, white, #f2f2f2);
}

.box-container {
    border: 1px black solid;
    border-radius: 8px;
    padding: 5px 10px;
    width: auto;
    height: fit-content;
    text-align: center;
}

.border-radius-15 {
    border-radius: 15px;
}

.switcher-button-container {
    background-color: #f1f3f5;
    width: 100%;
    padding: 5px 10px;
}

.switcher-button {
    width: 50%;
}

.border-button {
    border-right: 1px #d6d6d6 solid;
}

.border-bottom {
    border-bottom: 1px #e5e5e5 solid;
}

.border-bottom-blue {
    border-bottom: 2px #034992 solid;
}

.border-bottom-dim {
    border-bottom: 1px #343a40 solid;
}

.border-top {
    border-top: 1px #e5e5e5 solid;
}

.switcher-button-container .active {
    color: #219245;
}

.cursor-pointer {
    cursor: pointer;
}

.gray-color {
    color: gray;
}

.circle-background {
    padding: 7px;
    width: 30px;
    height: 30px;
}

.circle-background.active {
    background-color: #f1f3f5;
    border-radius: 16px;
}

.text-blue {
    color: #034992 !important;
}

.text-second-blue {
    color: #3996f3;
}

.border-blue {
    border: 1px solid #034992;
}

.text-green {
    color: #419a00;
}

.text-aqua-blue {
    color: #62cbf2;
}

.text-grey {
    color: #495057;
}

.text-lightgrey {
    color: #a4b2bf;
}

.text-custom-color {
    color: #37474f;
}

.text-input-color {
    color: #767676;
}

.text-darkgrey {
    color: #555555;
}

.cover-background {
    background-position: 100% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    background-blend-mode: luminosity;
}

.background-overlay {
    background-color: black;
    opacity: 0.7;
}

.background-white {
    background-color: white;
}

.bg-light-grey {
    background-color: #efefef;
}

.d-grid {
    display: grid;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: start !important;
}

.align-flex-end {
    align-self: flex-end;
}

.contain {
    object-fit: contain;
}

.object-fit-none {
    object-fit: none;
}

.gray-scale {
    filter: grayscale(100%);
}

.align-end {
    text-align: end;
}

.rotate-right {
    transform: rotate(90deg);
    /* Legacy vendor prefixes that you probably don't need... */
    /* Safari */
    -webkit-transform: rotate(90deg);
    /* Firefox */
    -moz-transform: rotate(90deg);
    /* IE */
    -ms-transform: rotate(90deg);
    /* Opera */
    -o-transform: rotate(90deg);
    /* Internet Explorer */
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.rotate-left {
    transform: rotate(-90deg);
    /* Legacy vendor prefixes that you probably don't need... */
    /* Safari */
    -webkit-transform: rotate(-90deg);
    /* Firefox */
    -moz-transform: rotate(-90deg);
    /* IE */
    -ms-transform: rotate(-90deg);
    /* Opera */
    -o-transform: rotate(-90deg);
    /* Internet Explorer */
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.margin-auto {
    margin: 0 auto;
}

.vertically-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    background-color: #f8f8f8;
}

.input-text {
    width: 100%;
    padding: 8px 16px;
    box-sizing: border-box;
    border: 1px solid #034992 !important;
    color: #767676;
    font-family: "FuturaBook";
    font-size: 14px;
}

select.input-text {
    background: url("../images/arrow-down-light.svg") no-repeat right white;
    background-position: 95%;
}


/* Form input color
–––––––––––––––––––––––––––––––––––––––––––––––––– */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.footer-input {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #034992;
    color: #767676;
    background-color: #f8f8f8;
    font-size: 13px;
}

.footer-input-text {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    margin: 2px 0;
    border-radius: 8px;
    color: white;
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
}

.footer-input-text::placeholder {
    color: white;
    opacity: 1;
    /* Firefox */
}

.footer-input-text:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white;
}

.footer-input-text::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white;
}

.footer-button {
    color: white;
    border: 1px solid #ffffff;
    border-radius: 8px;
    background-color: #1992d6;
    width: 100%;
    padding: 10px;
    text-transform: uppercase;
}

.subscribe {
    background-color: #034992;
    color: white;
    padding: 11px;
    margin-left: -22px;
    text-transform: uppercase;
    font-size: 14px;
    border: 1px solid #034992;
}

.justify-content-start {
    justify-content: start !important;
}

.custom-margin-box {
    margin: 10px 10px;
}

.custom-padding-box {
    padding: 20px;
}

.align-items-baseline {
    align-items: baseline;
}

.justify-content-space-evenly {
    justify-content: space-evenly;
}

.rounded-border {
    border: 1px solid #dddddd;
    border-radius: 18px;
}

.white-border {
    border: 1px solid white;
}

.px-8 {
    padding-left: 8rem !important;
    padding-right: 8rem !important;
}

.file-upload::-webkit-file-upload-button {
    visibility: hidden;
}

.file-upload::before {
    content: "Upload Cover Letter (pdf or word file)";
    display: inline-block;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
}

.license-upload::-webkit-file-upload-button,
.regid-upload::-webkit-file-upload-button {
    visibility: hidden;
}

.license-upload::before,
.regid-upload::before {
    display: inline-block;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
}

.file-resume-upload::before {
    content: "Upload Resume Letter (pdf or word file)";
}

.license-upload::before {
    content: "Driver's driving license (both sides)";
}

.right-license-upload::before {
    content: "Driver's driving license (front side)" !important;
}

.left-license-upload::before {
    content: "Driver's driving license (back side)" !important;
}

.left-regid-upload::before {
    content: "Car Registration ID (back side)" !important;
}

.right-regid-upload::before {
    content: "Car Registration ID (front side)" !important;
}

.margin-left-minus {
    margin-left: -50px;
}

.arrow-active-drop-shadow {
    filter: drop-shadow(3px 0px 4px rgba(0, 0, 0, 0.25));
}


/*
|--------------------------------------------------------------------------
| End Common
|--------------------------------------------------------------------------
*/


/*
|--------------------------------------------------------------------------
|  Custom select
|--------------------------------------------------------------------------
*/


/* Reset Select */

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background-color: white;
    background-image: none;
}


/* Remove IE arrow */

select::-ms-expand {
    display: none;
}

.style-3 {
    border: 1px solid #dfdfdf;
    color: #666;
    font: italic 15px Playfair Display;
    padding: 7px;
    font-weight: 400;
    max-width: 160px;
    display: block;
    text-align: center;
    margin: 10px auto;
    position: relative;
    border-radius: 25px;
}

.style-3:hover {
    -webkit-box-shadow: inset 0 0 10px 25px #eee;
    box-shadow: inset 0 0 10px 25px #eee;
    border-color: #eee;
}


/* end STYLE 3 */


/* Custom Select */

.select {
    position: relative;
    display: flex;
    width: 100%;
    background-color: white;
    overflow: hidden;
    padding: 8px 16px;
    box-sizing: border-box;
    border: 1px solid #034992 !important;
    color: #767676;
    font-family: "FuturaBook";
    font-size: 14px;
}

select {
    color: #767676;
    cursor: pointer;
    width: 100%;
}


/* Arrow */

.select::after {
    content: url("../images/arrow-down-light.svg");
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5em 1em;
    background-color: white;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: 0.25s all ease;
    -o-transition: 0.25s all ease;
    transition: 0.25s all ease;
}




/* Transition */

.custom-select-wrapper {
    position: relative;
    user-select: none;
    width: 100%;
}

.custom-select {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.custom-select__trigger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    background-color: white;
    padding: 8px 16px;
    box-sizing: border-box;
    border: 1px solid #034992;
    color: #767676;
    font-family: "FuturaBook";
    font-size: 14px;
}

.custom-select__trigger p {
    color: #767676;
}

.custom-options {
    position: absolute;
    display: block;
    top: 39px;
    left: -2px;
    right: 0;
    border-top: 0;
    border: 2px solid #f1f3f5;
    background: #fff;
    width: 100%;
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 2;
}

.custom-select.open .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.custom-option {
    position: relative;
    display: block;
    padding: 0 22px 0 22px;
    font-size: 13px;
    line-height: 30px;
    cursor: pointer;
    transition: all 0.5s;
}

.custom-option:hover {
    cursor: pointer;
    color: black;
    background-color: #f1f3f5;
}

.custom-option.selected {
    color: black;
    background-color: #f1f3f5;
}

.arrow {
    position: relative;
    height: 10px;
    width: 10px;
}

.arrow::before,
.arrow::after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 0.15rem;
    height: 100%;
    transition: all 0.5s;
}

.arrow::before {
    left: -1px;
    transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    background-color: #767676;
}

.arrow::after {
    left: 5px;
    transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    background-color: #767676;
}

.open .arrow::before {
    left: -1px;
    transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.open .arrow::after {
    left: 5px;
    transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.scrollable-container {
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
    max-height: 750px;
    overflow: overlay;
}

.scrollable-container::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}


/*
|--------------------------------------------------------------------------
|  End Custom select
|--------------------------------------------------------------------------
*/


/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li {
    list-style-type: none;
    position: relative;
    width: 4px;
    margin: 0 auto;
    background: #fff;
}

.timeline ul li::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: inherit;
}

.timeline ul li div.time {
    position: relative;
    bottom: 0;
    padding: 13px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 450px;
    height: auto;
    border-radius: 15px;
}


/* .timeline ul li div.time::before {
    content: "";
    position: absolute;
    bottom: 7px;
    width: 0;
    height: 0;
    border-style: solid;
} */

.timeline ul li:nth-child(odd) div.time {
    left: 45px;
}


/* .timeline ul li:nth-child(odd) div.time::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #f45b69 transparent transparent;
} */

.timeline ul li:nth-child(even) div.time {
    left: -495px;
}


/* .timeline ul li:nth-child(even) div.time::before {
    right: -15px;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent #f45b69;
} */


/* time {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
} */

.timeline ul li:nth-child(even) .time-icon {
    background-image: url("../images/left-year.svg");
    background-size: contain;
}

.timeline ul li:nth-child(odd) .time-icon {
    background-image: url("../images/right-year.svg");
    background-size: contain;
}

.timeline ul li:nth-child(even) time,
.timeline ul li:nth-child(even) p {
    float: right;
}


/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
    transition: background 0.5s ease-in-out;
}


/* .timeline ul li.in-view::after {
    background: #034992;
} */

.timeline ul li div.time {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.timeline ul li:nth-child(odd) div.time {
    transform: translate3d(200px, 0, 0);
    -o-transform: translate3d(200px, 0, 0);
    -moz-transform: translate3d(200px, 0, 0);
    -ms-transform: translate3d(200px, 0, 0);
    -webkit-transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div.time {
    transform: translate3d(-200px, 0, 0);
    -o-transform: translate3d(-200px, 0, 0);
    -moz-transform: translate3d(-200px, 0, 0);
    -ms-transform: translate3d(-200px, 0, 0);
    -webkit-transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div.time {
    transform: none;
    visibility: visible;
    opacity: 1;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
    .timeline ul li div.time {
        width: 250px;
    }
    .timeline ul li:nth-child(even) div.time {
        left: -289px;
        /*250+45-6*/
    }
}

@media screen and (max-width: 1024px) {
    .margin-left-minus {
        margin-left: -40px;
    }
}

@media screen and (max-width: 769px) {
    .margin-left-minus {
        margin-left: 0;
    }
}

@media screen and (max-width: 600px) {
    .map-box {
        width: 240px;
    }
    /* p,
    div {
        font-size: 10px;
    } */
    .slider-images-container .slider-image {
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }
    .to-bottom {
        position: absolute;
        bottom: 0;
    }
    .font-xlarge {
        font-size: 2em;
    }
    .timeline ul li {
        margin-left: 20px;
    }
    .timeline ul li div.time {
        width: calc(100vw - 91px);
    }
    .timeline ul li:nth-child(even) div.time {
        left: 45px;
    }
    .timeline ul li:nth-child(even) div.time::before {
        left: -15px;
        border-width: 8px 16px 8px 0;
        border-color: transparent #f8f8f8 transparent transparent;
    }
}


/* Horizontal TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.horizontal-timeline {
    white-space: nowrap;
    overflow-x: hidden;
}

.horizontal-timeline ol {
    font-size: 0;
    width: 100vw;
    padding: 346px 0;
    transition: all 1s;
}

.horizontal-timeline ol li {
    position: relative;
    display: inline-block;
    list-style-type: none;
    width: 184px;
    height: 3px;
    background: #00000010;
}

.horizontal-timeline ol li:last-child {
    width: 280px;
}

.horizontal-timeline ol li:not(:first-child) {
    margin-left: 30px;
}

.horizontal-timeline ol li:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 50%;
    left: calc(100% + 1px);
    bottom: 0;
    width: 30px;
    height: 30px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    border-radius: 50%;
    background: #00000010;
}

.horizontal-timeline ol li div.horz-time {
    position: absolute;
    left: calc(100% + -133px);
    width: 300px;
    padding: 15px;
    font-size: 1rem;
    white-space: normal;
    color: black;
}

.horizontal-timeline ol li div.horz-time::before {
    /* content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-style: solid; */
}

.horizontal-timeline ol li:nth-child(odd) div.horz-time {
    top: -60px;
    transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
}

.horizontal-timeline ol li:nth-child(odd) div.horz-time::before {
    top: 100%;
    border-width: 8px 8px 8px 8px;
    border-color: white transparent transparent transparent;
}

.horizontal-timeline ol li:nth-child(even) div.horz-time {
    top: calc(100% + 60px);
}

.horizontal-timeline ol li:nth-child(even) div.horz-time::before {
    top: -8px;
    border-width: 8px 0 0 8px;
    border-color: transparent transparent transparent white;
}


/* .horizontal-timeline time {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
} */


/* horizontal-TIMELINE ARROWS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.horizontal-timeline .arrows {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.horizontal-timeline .arrows .arrow__prev {
    margin-right: 20px;
}

.horizontal-timeline .arrows .hor-arrow {
    border: none;
}

.horizontal-timeline .disabled {
    opacity: 0.5;
}

.horizontal-timeline .arrows img {
    width: 20px;
    height: 20px;
}


/* flatpickr
–––––––––––––––––––––––––––––––––––––––––––––––––– */

span.flatpickr-weekday {
    display: inline-block;
    width: 14.2857143%;
}

span.flatpickr-day {
    width: 14.2857143%;
    margin: 0 2.491071428571428px;
}

@media screen and (min-width: 0\0) {
    div.flatpickr-current-month {
        padding-top: 0px !important;
    }
}


/* end flatpickr  */


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 599px) {
    .horizontal-timeline ol,
    .horizontal-timeline ol li {
        width: auto;
    }
    .horizontal-timeline ol {
        padding: 0;
        transform: none !important;
    }
    .horizontal-timeline ol li {
        display: block;
        height: auto;
        background: transparent;
    }
    .horizontal-timeline ol li:first-child {
        margin-top: 25px;
    }
    .horizontal-timeline ol li:not(:first-child) {
        margin-left: auto;
    }
    .horizontal-timeline ol li div.horz-time {
        width: 94%;
        height: auto !important;
        margin: 0 auto 25px;
    }
    .horizontal-timeline ol li div.horz-time {
        position: static;
    }
    .horizontal-timeline ol li:nth-child(odd) div.horz-time {
        transform: none;
    }
    .horizontal-timeline ol li:nth-child(odd) div.horz-time::before,
    .horizontal-timeline ol li:nth-child(even) div.horz-time::before {
        left: 50%;
        top: 100%;
        transform: translateX(-50%);
        -o-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        border: none;
        border-left: 1px solid white;
        height: 25px;
    }
    .horizontal-timeline ol li:last-child,
    .horizontal-timeline ol li:nth-last-child(2) div.horz-time::before,
    .horizontal-timeline ol li:not(:last-child)::after,
    .horizontal-timeline .arrows {
        display: none;
    }
}

@media (min-width: 1200px) {
    .custom-container {
        max-width: 1500px;
    }
    .custom-small-container {
        max-width: 800px;
    }
}

@media (max-width: 424px) {
    #latest-news,
    #events,
    #press,
    #blog {
        font-size: 6px;
    }
    .centered-left {
        top: 60%;
        -o-transform: translate(-60%, -60%);
        -moz-transform: translate(-60%, -60%);
        -ms-transform: translate(-60%, -60%);
        -webkit-transform: translate(-60%, -60%);
        transform: translate(-60%, -60%);
    }
    .slider-images-container .slick-dots {
        display: none;
    }
    .font-27 {
        font-size: 16px;
    }
    #aropeHRdepartment .about-list li {
        line-height: 16px;
        font-size: 16px;
    }
    .header-row-top {
        font-size: 9px;
    }
    .header-row {
        top: 40px;
    }
}

@media (min-width: 768px) {
    .header-row-top {
        font-size: 13px;
    }
    .navbar-brand.abs {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
    }
}

@media (max-width: 769px) {
    .subscribe {
        margin: 0;
    }
    .custom-margin-box {
        margin: 5px 5px;
    }
    .centered-left {
        left: 50%;
    }
    .csr-tunnel-image {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 1025) {
    .centered-left {
        left: 50%;
    }
    .custom-margin-box {
        margin: 5px 5px;
    }
    .custom-padding-box {
        padding: 10px;
    }
}

@media only screen and (max-width: 320px) {
    h1 {
        font-size: 5.7vw !important;
    }
    h2 {
        font-size: 3vh !important;
    }
    h3 {
        font-size: 2.5vh !important;
    }
    h4 {
        font-size: 2vh !important;
    }
    h5 {
        font-size: 1.5vh !important;
    }
    li {
        font-size: 4vmin !important;
    }
    p {
        font-size: 3.5vmin !important;
    }
    button,
    input,
    input::placeholder,
    textarea {
        font-size: 4vmin !important;
    }
}
