@font-face {
    font-family: "FuturaBook";
    src: url("FuturaStd-Book.eot");
    src: url("FuturaStd-Book.eot?#iefix") format("embedded-opentype"), url("FuturaStd-Book.woff2") format("woff2"), url("FuturaStd-Book.woff") format("woff"), url("FuturaStd-Book.ttf") format("truetype"), url("FuturaStd-Book.svg#Futura Std") format("svg");
}

@font-face {
    font-family: "FuturaBold";
    src: url("FuturaStd-Bold.eot");
    src: url("FuturaStd-Bold.eot?#iefix") format("embedded-opentype"), url("FuturaStd-Bold.woff2") format("woff2"), url("FuturaStd-Bold.woff") format("woff"), url("FuturaStd-Bold.ttf") format("truetype"), url("FuturaStd-Bold.svg#Futura Std") format("svg");
}

@font-face {
    font-family: "FuturaExtraBold";
    src: url("FuturaStd-ExtraBold.eot");
    src: url("FuturaStd-ExtraBold.eot?#iefix") format("embedded-opentype"), url("FuturaStd-ExtraBold.woff2") format("woff2"), url("FuturaStd-ExtraBold.woff") format("woff"), url("FuturaStd-ExtraBold.ttf") format("truetype"), url("FuturaStd-ExtraBold.svg#Futura Std") format("svg");
}

@font-face {
    font-family: "FuturaLight";
    src: url("FuturaStd-Light.eot");
    src: url("FuturaStd-Light.eot?#iefix") format("embedded-opentype"), url("FuturaStd-Light.woff2") format("woff2"), url("FuturaStd-Light.woff") format("woff"), url("FuturaStd-Light.ttf") format("truetype"), url("FuturaStd-Light.svg#Futura Std") format("svg");
}

@font-face {
    font-family: "FuturaMedium";
    src: url("FuturaStd-Medium.eot");
    src: url("FuturaStd-Medium.eot?#iefix") format("embedded-opentype"), url("FuturaStd-Medium.woff2") format("woff2"), url("FuturaStd-Medium.woff") format("woff"), url("FuturaStd-Medium.ttf") format("truetype"), url("FuturaStd-Medium.svg#Futura Std") format("svg");
}

@font-face {
    font-family: "FuturaTwoBold";
    src: url("GESSTwoBold-Bold.eot");
    src: url("GESSTwoBold-Bold.eot?#iefix") format("embedded-opentype"), url("GESSTwoBold-Bold.woff2") format("woff2"), url("GESSTwoBold-Bold.woff") format("woff"), url("GESSTwoBold-Bold.ttf") format("truetype"), url("GESSTwoBold-Bold.svg#GE SS Two Bold") format("svg");
}

@font-face {
    font-family: "FuturaTwoLight";
    src: url("GESSTwoLight-Light.eot");
    src: url("GESSTwoLight-Light.eot?#iefix") format("embedded-opentype"), url("GESSTwoLight-Light.woff2") format("woff2"), url("GESSTwoLight-Light.woff") format("woff"), url("GESSTwoLight-Light.ttf") format("truetype"), url("GESSTwoLight-Light.svg#GE SS Two Light") format("svg");
}

@font-face {
    font-family: "FuturaTwoMedium";
    src: url("GESSTwoMedium-Medium.eot");
    src: url("GESSTwoMedium-Medium.eot?#iefix") format("embedded-opentype"), url("GESSTwoMedium-Medium.woff2") format("woff2"), url("GESSTwoMedium-Medium.woff") format("woff"), url("GESSTwoMedium-Medium.ttf") format("truetype"), url("GESSTwoMedium-Medium.svg#GE SS Two Medium") format("svg");
}